daehan_ascr
ANALYSIS/*
katie*
*.nextflow.log*
*.nextflow
report.*
Analysis_Results-*
.nextflow/
abatest-2021031*
analysis/*
katie_test_out/*
debug-test/*
work/*
nextflow.config*
20231019_asses_test_1/*
20231018_asses_test_1/*
20231020_asses_test_1/*
20231027_all_mappings_*/*