test_data/vcfs/*
test_data/plink_files/*
work/*
input_data/*/orthogroup_snps/*/*
input_data/master_snps/*
daehan_ascr
ANALYSIS/*
katie*
*.nextflow.log*
*.nextflow
report.*
Analysis_Results-*
.nextflow/
abatest-2021031*
analysis/*
katie_test_out/*
debug-test/*
work/*
nextflow.config*
07.*
ts_nf_log.txt
tropicalis
08*
08.*
09.*
Analysis_Results-*
11.*
10.*
10.06.22*
01*
