process.cache = 'deep'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date()

process {

    conda = "/projects/b1059/software/conda_envs/cegwas2-nf_env"
    module = 'R/3.6.0'

    maxRetries=3

    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'

}

params {
    // having all these params in the config file makes it so that you can't run from another directory, which I don't like...
	species  	       = "elegans"
	wbb 	 	       = "WS276"
	data_dir 	       = "input_data/${species}"
	numeric_chrom      = "input_data/all_species/rename_chromosomes"
	sparse_cut 	       = 0.01
    group_qtl          = 1000
    ci_size            = 150
    sthresh            = "BF"
    p3d                = "TRUE"
    maf                = 0.05

    day                = now.format("yyyMMdd")
    timestamp          = now.format("yyyyMMdd-HH-mm-ss")
    out                = "Analysis_Results-${day}"
    tracedir           = "${out}"
}

profiles {

        annotations {

            params {

            annotate   = "RUN"
            wb_build   = "WS270"
            species    = null
            input_data = "input_data"
            script_loc = "bin"
            maps       = null
            simulate   = null
            lmm_exact  = null
            lmm        = null
            sparse_cut = null
            maf        = null

        }
    }

		mappings {

			params {

            maps 	   = "RUN"
            simulate   = null
            lmm_exact  = "RUN"
            lmm 	   = "RUN"
            sparse_cut = 0.05
            maf		   = 0.05

		}
	}

		simulations {

            params {

            maps              = null
            simulate          = "RUN"
            simulate_maf      = "input_data/all_species/simulate_maf.csv"
            simulate_nqtl     = "input_data/all_species/simulate_nqtl.csv"
            simulate_reps     = 2
            simulate_h2       = "input_data/all_species/simulate_h2.csv"
            simulate_eff      = "input_data/all_species/simulate_effect_sizes.csv"
            simulate_strains  = "input_data/all_species/simulate_strains.tsv"
            simulate_qtlloc   = null
        }
   }

}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

executor {
    queueSize = 1000
    submitRateLimit = 5
}
