process.cache = 'deep'

singularity { singularity.enabled = true }

process {

    module='singularity/latest'

    container  = 'docker://faithman/cegwas2:latest'

}

params {
	species  	       = "elegans"
	wbb 	 	       = "WS276"
	data_dir 	       = "input_data/${species}"
	numeric_chrom      = "input_data/all_species/rename_chromosomes"
	sparse_cut 	       = 0.01
    group_qtl          = 1000
    ci_size            = 150
    sthresh            = "BF"
    p3d                = "TRUE"
    maf                = 0.05
}

profiles {

		mappings {

			params {

            maps 	   = "RUN"
            simulate   = null
            lmm_exact  = "RUN"
            lmm 	   = "RUN"
            sparse_cut = 0.05
            maf		   = 0.05

		}		

	}

		simulations {

			params {

            maps 	      = null
            simulate      = "RUN"
            simulate_maf  = 0.05
            simulate_nqtl = "input_data/all_species/simulate_nqtl.csv"
            simulate_reps = 2
            simulate_h2	  = "input_data/all_species/simulate_h2.csv"

		}		

	}

}


report {
    enabled = true
}