process.cache = 'deep'

singularity { singularity.enabled = true }

process {

    module='singularity/latest'

    container  = 'docker://faithman/cegwas2:latest'

}

params {
	species  	  = "elegans"
	wbb 	 	  = "WS276"
	data_dir 	  = "input_data/${species}"
	numeric_chrom = "input_data/all_species/rename_chromosomes"
}

profiles {

		map {

			params {

            lmm 	   = "RUN"
            sparse_cut = 0.01
            lmm_maf    = 0.05

		}		

	}

		simulate {

			params {

            lmm 	   = "RUN"
            sparse_cut = 0.01
            lmm_maf    = 0.05

		}		

	}

		gcta_lmm {

			params {

            lmm 	   = "RUN"
            sparse_cut = 0.01
            lmm_maf    = 0.05

		}		

	}

		gcta_lmm_exact {

			params {

            lmm_exact  = "RUN"
            sparse_cut = 0.01
            maf		   = 0.05

		}		

	}

}


report {
    enabled = true
}