// configuration for google pipeline API debug 
docker {
    enabled = true
}

process {
    executor = 'google-lifesciences'

    // change this container eventually
    container = 'northwesternmti/nemascan:0.31'

    // add support for machine types
    //machineType = 'n1-standard-4'
    withLabel: med {
      machineType = 'n1-standard-4'
    }

    withLabel: small {
      machineType = 'n1-standard-1'
    }

    withLabel: large {
      machineType = "n1-highmem-2"

    }

    withLabel: xl {
      machineType = "n1-highmem-4"
    }

    withLabel: highmem {
      machineType = "n1-highmem-8"
    }
}

// GCP specific params
google {
    project = 'andersen-lab'
    zone = 'us-central1-a'
    lifeSciences {
        serviceAccountEmail = 'nscalc-201573431837@andersen-lab.iam.gserviceaccount.com'
        debug = true
        preemptible = true
    }
}

executor {
    queueSize = 500
}

// params
params {

    // choose profile
    maps       = "RUN"
    simulate   = null
    lmm_exact  = "RUN"
    lmm        = "RUN"
    matrix     = null
    gcp        = true
    annotate   = null
    matrix     = null
    simulate_qtlloc = null
    
    // misc
    eigen_mem = "10 GB"
    date = new Date().format( 'yyyyMMdd' )
    data_dir = "gs://nf-pipelines/NemaScan/input_data/"
    bin_dir = "gs://nf-pipelines/NemaScan/bin/"
  
} 

workDir = 'gs://nf-pipelines/workdir/'

