// configuration for google pipeline API debug 
docker {

    enabled = true

}

process {
    executor = 'google-lifesciences'
    //executor = 'google-pipelines'

    container = 'andersenlab/nemascan:v0.3'
    machineType = 'n1-standard-4'
}

google {
    project = 'caendr' // is this right? or andersen-lab?
    zone = 'us-central1-a'
}

cloud {
    preemptible = true
}

executor {
    queueSize = 500
}


// params
params {
    date = new Date().format( 'yyyyMMdd' )

    vcf = "20210121"

    gcp = true
    out = "gs://nf-pipeline/output/NemaScan-${date}" // where does output go?

    // thresholds 
    cores = 4

    // mappings
    maps       = "RUN"
    simulate   = null
    lmm_exact  = "RUN"
    lmm        = "RUN"
    sparse_cut = 0.05
    maf        = 0.05
    R_libpath   = ""
} 

    workDir = 'gs://nf-pipeline/workdir/'
