// configuration for google pipeline API debug 
docker {

    enabled = true

}

process {
    executor = 'google-pipelines'

    container  = 'faithman/alignment:latest' // create new container and change here
    machineType = 'n1-standard-4'
}

google {
    project = 'elegansvariation.org' // is this right?
    zone = 'us-central1-a'
}

cloud {
    preemptible = true
}

executor {
    queueSize = 500
}


// params
params {
    date = new Date().format( 'yyyyMMdd' )

    vcf = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.hard-filter.isotype.vcf.gz"
    vcf_index = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.hard-filter.isotype.vcf.gz.csi"
    impute_vcf = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.impute.vcf.gz"
    
    out = "gs://nf-pipeline/output/NemaScan-${date}" // where does output go?
    workDir = 'gs://elegansvariation.org/WORK_DIR'

    // thresholds 
    cores = 4
} 