docker {

    enabled = true
    autoMounts = true

}

params {

    // choosing profiles
    maps       = "RUN"
    matrix     = null
    simulate   = null
    gcp        = null
    lmm_exact  = "RUN"
    lmm        = "RUN"
    annotate   = null
    simulate_qtlloc = null

    // misc
    R_libpath   = ""  
    eigen_mem = "10 GB"  

}

process {
	executor = 'local'
    container = 'andersenlab/nemascan:v0.3'

    // cores and memory
    withLabel: med {
        cpus = 2
    }

    withLabel: small {
        cpus = 1
    }

    withLabel: large {
        cpus = 2
        memory = params.eigen_mem

    }

    withLabel: xl {
        cpus = 2
    }

    withLabel: highmem {
        cpus = 2
        memory = "32 GB"
    }

    withLabel: mediation {
        container = 'andersenlab/mediation:v0.4'
    }
}
