/*
    Rockfish Configuration
*/

docker {
    enabled = true
    autoMounts = true
}

params {
    baseDir = "/vast/eande106"
    softwareDir = "/data/eande106/software"
    dataDir = "vast/eande106data"
    workDir = "vast/eande106work"
    platform = "Local"
    anaconda = null
}

process {
	executor = 'local'

    withLabel: xs {
        cpus = 1
    }

    withLabel: sm {
        cpus = 1
    }

    withLabel: md {
        cpus = 2
    }

    withLabel: ml {
        cpus = 4
        memory = "32 GB"
    }

    withLabel: lg {
        cpus = 8
        memory = "64 GB"
    }

    withLabel: xl {
        cpus = 12
        memory = "64 GB"
    }

}
