singularity {

    enabled = true
    autoMounts = true

}

params {

    maps 	   = "RUN"
    matrix     = null
    simulate   = null
    lmm_exact  = "RUN"
    lmm 	   = "RUN"
    sparse_cut = 0.05
    maf		   = 0.05
    R_libpath   = ""
    bin_dir    = "/projects/b1059/projects/Katie/NemaScan/bin/"
    isotype_file = "/projects/b1059/projects/Katie/NemaScan/input_data/elegans/isotypes/strain_isotype_lookup.tsv"
    data_dir   = "/projects/b1059/projects/Katie/NemaScan/"
    numeric_chrom = "/projects/b1059/projects/Katie/NemaScan/input_data/all_species/rename_chromosomes"
    sparse_cut = 0.01
    group_qtl = 1000
    ci_size = 150
    sthresh = "BF"
    p3d = "TRUE"
    maf = 0.05
    freqUpper = 0.05
    minburden = 2
    genes = "/projects/b1059/projects/Katie/NemaScan/bin/gene_ref_flat.Rda"

}

process {
	executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    // conda = "/projects/b1059/software/conda_envs/cegwas2-nf_env"
    // module = 'R/3.6.0'

    container = 'andersenlab/nemascan:v0.3'
}
