singularity {

    enabled = true
    autoMounts = true

}

params {

    // choosing profiles
    maps       = "RUN"
    matrix     = null
    simulate   = null
    gcp        = null
    lmm_exact  = "RUN"
    lmm        = "RUN"
    annotate   = null
    simulate_qtlloc = null
    mediation = true
    params.sthresh = "BF"

    // misc
    R_libpath   = ""  
    eigen_mem = "10 GB"  

}

process {
	executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    container = 'andersenlab/nemascan:v0.4'

    // cores and memory
    withLabel: med {
        cpus = 4
    }

    withLabel: small {
        cpus = 1
    }

    withLabel: large {
        cpus = 6
        memory = params.eigen_mem

    }

    withLabel: xl {
        cpus = 4
    }

    withLabel: highmem {
        cpus = 4
        memory = "48 GB"
    }

    withLabel: mediation {
        container = 'andersenlab/mediation:v0.4'
    }
}
