params {

    // choosing profiles
    maps 	   = "RUN"
    simulate   = null
    matrix     = null
    annotate   = null
    gcp        = null
    lmm_exact  = "RUN"
    lmm 	   = "RUN"
    simulate_qtlloc = null
    mediation = true
    sthresh = "BF"

    // misc
    // R_libpath  = "/projects/b1059/software/R_lib_3.6.0"
    eigen_mem = "10.GB"

}


process {
	executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    // conda = "/projects/b1059/software/conda_envs/cegwas2-nf_env"
    // module = 'R/3.6.0'
    container = 'andersenlab/nemascan:v0.4'
    errorStrategy='retry'
    maxRetries=3

    // cores and memory
    withLabel: med {
        cpus = 4
    }

    withLabel: small {
        cpus = 1
    }

    withLabel: large {
        cpus = 6
        memory = params.eigen_mem

    }

    withLabel: xl {
        cpus = 4
        memory = "24 GB"
    }

    withLabel: mediation {
        cpus = 4
        memory = "24 GB"
    }

    withLabel: highmem {
        cpus = 4
        memory = "48 GB"
        // memory = "64 GB"
    }
}

singularity {

    enabled = true
    autoMounts = true
    cacheDir = "/projects/b1059/singularity"
}