/*
    Quest Configuration
*/

params{
    baseDir = '/projects/b1042/AndersenLab'
    workDir = '/projects/b1042/AndersenLab/work'
    dataDir = '/projects/b1042/AndersenLab/data'
    softwareDir = '/projects/b1042/AndersenLab/software'
    gcp = false
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    errorStrategy='retry'
    maxRetries=3

    withLabel: xs {
        clusterOptions = '-A b1042 -t 4:00:00 -e errlog.txt'
        cpus = 1
        memory = "4.GB"
    }

    withLabel: sm {
        clusterOptions = '-A b1042 -t 4:00:00 -e errlog.txt'
        cpus = 2
        memory = "8.GB"
    }

    withLabel: md {
        clusterOptions = '-A b1042 -t 4:00:00 -e errlog.txt'
        cpus = 4
        memory = "16.GB"
    }

    withLabel: ml {
        clusterOptions = '-A b1042 -t 12:00:00 -e errlog.txt'
        cpus = 16
        memory = "64.GB"
    }

    withLabel: lg {
        clusterOptions = '-A b1042 -t 24:00:00 -e errlog.txt'
        cpus = 48
        memory = "190.GB"
    }

    withLabel: xl {
        clusterOptions = '-A b1042 -t 24:00:00 -e errlog.txt'
        cpus = 48
        memory = "1500.GB"
    }
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
    pullTimeout = '20 min'
}

