/*
    Rockfish Configuration
*/

params {
    baseDir = "/vast/eande106"
    softwareDir = "/data/eande106/software"
    dataDir = "/vast/eande106/data"
    workDir = "/vast/eande106/work"
    platform = "Rockfish"
    anaconda = "anaconda/2022.05"
}

executor {
    queueStatInterval = '5min'
    pollInterval = '1min'
    queueSize = 50
    submitRateLimit = '10sec'
}

process {
    executor = 'slurm'

    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        queue = "shared"
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 2
        memory = "8G"
        queue = "shared"
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 4
        memory = "16G"
        queue = "shared"
    }

    withLabel: ml {
        clusterOptions = '-A eande106 -t 30:00:00 -e errlog.txt -N 1'
        cpus = 16
        memory = "64G"
        queue = "shared"
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 32
        memory = "128G"
        queue = "shared"
    }

    withLabel: xl {
        clusterOptions = '-A eande106_bigmem -t 4:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = "1500G"
        queue = "bigmem"
    }

}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
    pullTimeout = '20 min'
    envWhitelist = "SLURMD_HOSTNAME,SLURM_JOB_NODELIST,SLURM_NODELIST,SLURM_STEP_NODELIST,SLURM_TOPOLOGY_ADDR"
}
