// this config is not updated 20210907 KSE


params {

      maps              = null
      simulate          = "RUN"
      matrix            = null
      annotate   = null
      simulate_maf      = "input_data/all_species/simulate_maf.csv"
      simulate_nqtl     = "input_data/all_species/simulate_nqtl.csv"
      simulate_reps     = 2
      simulate_h2       = "input_data/all_species/simulate_h2.csv"
      simulate_eff      = "input_data/all_species/simulate_effect_sizes.csv"
      simulate_strains  = "input_data/all_species/simulate_strains.tsv"
      simulate_qtlloc   = null
      eigen_mem = "100 GB"
      mediation = false
      sthresh = "BF"
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
    maxRetries = 5
    withLabel: get_gcta_intervals{
        memory = 70.GB
    }
    withLabel: simulate_map_phenotypes{
        errorStrategy = { task.attempt <= maxRetries  ? 'retry' : 'finish' }    }
}


singularity {
    pullTimeout = '30 min'
    enabled = true
    autoMounts = true
    cacheDir = "/projects/b1059/singularity"
}
