// this config is not updated 20210907 KSE


params {
    baseDir = "/vast/eande106"
    softwareDir = "/data/eande106/software"
    dataDir = "/vast/eande106/data"
    workDir = "/vast/eande106/work"
    platform = "Rockfish"
    anaconda = "anaconda/2022.05"
    gcp = false
    maps              = false
    simulation          = true
    matrix            = false
    mapping = false
    annotate   = null
    simulate_qtlloc   = null
    eigen_mem = "100 GB"
    mediation = false
    sthresh = "BF"
}

executor {
    queueStatInterval = '5min'
    pollInterval = '1min'
    queueSize = 50
    submitRateLimit = '10sec'
}

process {
    executor = 'slurm'
    maxRetries = 1
    queue = 'parallel'
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }

    withName: prepare_simulation_files {
        clusterOptions = '-A eande106 -t 3:00:00 -e errlog.txt -N 1'
        cpus = 4
        memory = "30G"
        queue = "parallel"
        container = 'mckeowr1/prep_sims:1.1'
    }

    withName: chrom_eigen_variants_sims {
        clusterOptions = '-A eande106 -t 0:30:00 -e errlog.txt -N 1'
        cpus = 2
        memory = "60G"
        queue = "parallel"
    }
    withName: collect_eigen_variants_sims {
        clusterOptions = '-A eande106 -t 0:30:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "20G"
        queue = "parallel"
    }
    withName: simulate_effects_genome {
        executor = 'local'
    }
    withName: simulate_map_phenotypes {
        executor = 'local'
        maxRetries = 2
        errorStrategy = 'ignore'
    }
    withName: get_gcta_intervals {
        clusterOptions = '-A eande106 -t 0:20:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "50G"
        queue = "parallel"
        errorStrategy = 'ignore'
    }
    withName: assess_sims_INBRED {
        executor = 'local'
        container = 'mckeowr1/asess_sims:1.1'
        errorStrategy = 'ignore'
    }
    withName: assess_sims_LOCO {
        executor = 'local'
        container = 'mckeowr1/asess_sims:1.1'
        errorStrategy = 'ignore'
    }
    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        queue = "parallel"
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 2
        memory = "8G"
        queue = "parallel"
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 4
        memory = "16G"
        queue = "parallel"
    }

    withLabel: ml {
        clusterOptions = '-A eande106 -t 30:00:00 -e errlog.txt -N 1'
        cpus = 16
        memory = "64G"
        queue = "parallel"
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 32
        memory = "128G"
        queue = "parallel"
    }

    withLabel: xl {
        clusterOptions = '-A eande106_bigmem -t 4:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = "1500G"
        queue = "bigmem"
    }

}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
    pullTimeout = '20 min'
    envWhitelist = "SLURMD_HOSTNAME,SLURM_JOB_NODELIST,SLURM_NODELIST,SLURM_STEP_NODELIST,SLURM_TOPOLOGY_ADDR"
}

workflow {
    workDir = "/scratch4/eande106"
}