params {

      maps              = null
      simulate          = "RUN"
      simulate_maf      = "input_data/all_species/simulate_maf.csv"
      simulate_nqtl     = "input_data/all_species/simulate_nqtl.csv"
      simulate_reps     = 2
      simulate_h2       = "input_data/all_species/simulate_h2.csv"
      simulate_eff      = "input_data/all_species/simulate_effect_sizes.csv"
      simulate_strains  = "input_data/all_species/simulate_strains.tsv"
      simulate_qtlloc   = null
      R_libpath   = "/projects/b1059/software/R_lib_3.6.0"
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    conda = "/projects/b1059/software/conda_envs/cegwas2-nf_env"
    module = 'R/3.6.0'
}
